

.summary { 
    color: #00203FFF;
// background-image: linear-gradient(#A8E6CE,#DCEDC2,#FFD3B5,#FFAAA6,#FF8C94);
 h1{
     margin: 0;
     margin-left: 200px;
 }
 p{
     padding: 10px;
     margin: 0;
 }

}


.content { 
    z-index: 9000;
}

.section { 
    z-index: 5000;
    max-width: 75%;
    margin: 50px auto;
    padding: 40px 40px 0px 40px;
    
    
    p { 
        font-size: 30px;
    }
    
    
}

.section-text{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#aboutme { 
    background-color: #ADEFD1ff;

}

#interests{
    color: #ADEFD1ff;
    background-color: #00203FFF;
}

#education{ 
   background-color: #ADEFD1ff;

}


.education-total { 
    margin: 0 auto;
    max-width: 75%;
    padding: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;



.education-container { 
    
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}
}


.links { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 200px;
    .git{
        height: 100px;
        width: 50%;
        display: flex;
        justify-content: center;
        .caption{
            margin: auto;
        }
        a{
            width: 100px;
        }
        img{
            height: 100%;
        }
    }
    
}
