

.summary { 
 h1{
     margin: 0;
     margin-left: 100px;
 }
 p{
     padding: 10px;
     margin: 0;
 }

}


.content { 
    z-index: 9000;
}

.section { 
    max-width: 75%;
    margin: 50px auto;
    padding: 40px 40px 0px 40px;
    
    
    p { 
        font-size: 30px;
    }
    
    
}

.section-text{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#aboutme { 
    color: #EABBE9;
    background-color: #424263;

}

#interests{
    color: #424263;
    background-color: #EABBE9;
}
#resume{
    color: #424263;
    background-color: #EABBE9;
    p { 
        text-align: center;
    }
}

#education{ 
    color: #EABBE9;
    background-color: #424263;

}


.education-total { 
    margin: 0 auto;
    max-width: 75%;
    padding: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;



.education-container { 
    
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    margin-bottom: 100px;
}
}


.links { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 200px;
    .git{
        height: 90px;
        width: 50%;
        display: row;
        justify-content: space-evenly;
        a{
            width: 100px;
        }
        img{
            height: 100%;
        }
    }
    
}
